extends layout
block content
  h1 #{Register}
  form(method= 'POST',action= '/users/register')
    #form-group
      label ID:
      input.form-control(name='name',type='text')
    #form-group
      label Email:
      input.form-control(name='email',type='text') 
    #form-group
      label Phoneno:
      input.form-control(name='phoneno',type='telno')
    #form-group
      label Role:
      input.form-control(name='role',type='text')     
    #form-group
      label FirstName:
      input.form-control(name='firstname',type='text') 
    #form-group
      label LasttName:
      input.form-control(name='lastname',type='text') 
    br
    input.btn.btn-primary(type='submit',value='Submit')
